
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}



@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
}
  
body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.container {
    padding: 56px 0;
  }
  
.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container-row {
    height: 100%;
    z-index: -102003;
}

.container_row {
    height: calc(100vh);
}




.portrait_home_design {
    border-radius: 40px;
    background: linear-gradient(225deg, #302e34, #29272c);
    box-shadow:  -35px 35px 70px #26252a,
                 35px -35px 70px #343138;
}

.container_color {
    background: rgb(5,13,40);
    background: linear-gradient(90deg, rgba(5,13,40,1) 11%, rgba(4,4,31,1) 31%, rgba(10,21,52,1) 74%, rgba(0,0,0,1) 100%);
}

/* grid two items */ 
.grid_2 {
   @apply grid grid-cols-2 place-items-center  
}

.form_option {
   @apply px-28 py-2 mb-8 bg-slate-100  relative rounded-lg font-semibold  text-black text-center 
}

.design {
    @apply left-3 w-5 absolute 
}

.portrait_home {
   @apply pl-40  
}
 

.form_otherOption {
    @apply flex justify-between my-8 mx-8 
}

.from_otherOptionSignInUp {
    @apply py-2  px-6 bg-slate-100  rounded-lg font-semibold text-black flex-wrap
}

.home_title {
    @apply text-center font-bold text-xl  text-gray-800
}

/* NAVIGATION */
 
 
.nav_container {
    @apply py-10 border-b-gray-900 border-b-2
}


.nav_layout {
    @apply  flex justify-end  items-center   mr-12 space-x-10 text-stone-300
}
 

.nav_logo {
    @apply absolute left-12
}

.animate-gradient {
    background-size: 300%;
    -webkit-animation: animatedgradient 6s ease infinite alternate;
    -moz-animation: animatedgradient 6s ease infinite alternate;
    animation: animatedgradient 6s ease infinite alternate;
  }
  
  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

   

.metaverse {
    display: flex;
    justify-content: center;
    height: 550px;
    margin-top: 36px;
  }


  
